# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
#develop folders
build/
dist/
log/
*.log
.project
.pydevproject
.vscode/
# windows batch
*.cmd
*.spec
img/screenshot/
hist.txt
move.txt
buildtool/out/